.navbar-dark {
	background-color: #512DA8;
}

.process-container {
	position: relative;
	text-align: center;
	top: 100px;
}

.component-container {
	position: relative;
	text-align: center;
	top: 75px;
}

.component-body-container {
	position: relative;
	top: 75px;
	border-style: dotted;
	width: 300px;
	height: auto;
	padding: 20px;
	background-color: antiquewhite;
}

.body-wide {
	top: 50px;
	width: auto;
	text-align: left;
}






