.navbar-dark {
	background-color: black;
}

.process-container {
	position: relative;
	text-align: center;
	top: 100px;
}

.component-container {
	position: relative;
	text-align: center;
	top: 75px;
}

.component-body-container {
	position: relative;
	margin-top: 75px;
	border-style: dotted;
	width: 300px;
	height: auto;
	padding: 20px;
	background-color: cornsilk;
}

.body-wide {
	margin-top: 50px;
	width: auto;
	text-align: left;
}






